# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# Visual Studio Code
.vscode
.factorypath
.DS_Store

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/
